<p>{{ 'mailer.common.hello' | t }}</p>

<p>{{ 'mailer.administrator_notifications.account_compliance.account_deleted.body' | t: 'brand_name', global_config['BRAND_NAME'] }}</p>

<p>
  <strong>{{ 'mailer.administrator_notifications.account_compliance.account_deleted.installation' | t: 'brand_name', global_config['BRAND_NAME'] }}</strong> {{ meta.instance_url }}<br>
  <strong>{{ 'mailer.administrator_notifications.account_compliance.account_deleted.account_id' | t }}</strong> {{ meta.account_id }}<br>
  <strong>{{ 'mailer.administrator_notifications.account_compliance.account_deleted.account_name' | t }}</strong> {{ meta.account_name }}<br>
  <strong>{{ 'mailer.administrator_notifications.account_compliance.account_deleted.deletion_due_at' | t }}</strong> {{ meta.marked_for_deletion_at }}<br>
  <strong>{{ 'mailer.administrator_notifications.account_compliance.account_deleted.deleted_at' | t }}</strong> {{ meta.deleted_at }}<br>
  <strong>{{ 'mailer.administrator_notifications.account_compliance.account_deleted.deletion_reason' | t }}</strong> {{ meta.deletion_reason }}
</p>

{% if meta.deleted_user_count > 0 %}
<p>
  <strong>{{ 'mailer.administrator_notifications.account_compliance.account_deleted.deleted_users' | t: 'count', meta.deleted_user_count }}</strong><br>
  {% for user in meta.soft_deleted_users %}
    {{ 'mailer.administrator_notifications.account_compliance.account_deleted.user_id' | t }} {{ user.user_id }}, Email: {{ user.user_email }}{% unless forloop.last %}<br>{% endunless %}
  {% endfor %}
</p>
{% else %}
<p>
  <strong>{{ 'mailer.administrator_notifications.account_compliance.account_deleted.deleted_users_none' | t }}</strong>
</p>
{% endif %}

<p>{{ 'mailer.administrator_notifications.account_compliance.account_deleted.compliance_notice' | t }}</p>

<p>{{ 'mailer.administrator_notifications.account_compliance.account_deleted.thank_you' | t }}<br>
{{ 'mailer.administrator_notifications.account_compliance.account_deleted.system_name' | t: 'brand_name', global_config['BRAND_NAME'] }}</p>
