<p><%= t('mailer.devise.reset_password_instructions.greeting_html', name: @resource.name) %></p>

<p><%= t('mailer.devise.reset_password_instructions.body_html') %></p>

<p><%= link_to t('mailer.devise.reset_password_instructions.action'), frontend_url('auth/password/edit', reset_password_token: @token) %></p>

<p style="color: #999999; font-size: 12px;"><%= t('mailer.devise.reset_password_instructions.copy_paste_html') %> <%= frontend_url('auth/password/edit', reset_password_token: @token) %></p>

<p><%= t('mailer.devise.reset_password_instructions.ignore_html') %></p>
<p><%= t('mailer.devise.reset_password_instructions.no_change_html') %></p>
